SHAANTANU BHAKUNI

(1) Used the results of the web scrappers made by individual students in the class to clean the data.
All results of Male and female characters were put in different text file and then analysis was dne on them

In [38]:
import os, zipfile,glob

dir_name = 'C:\\Users\\bhaku\\Desktop\\allheroesJ'
extension = ".zip"
os.chdir(dir_name)
#unzip all files
zip_files = glob.glob('*.zip')

for zip_filename in zip_files:
    dir_name = os.path.splitext(zip_filename)[0]
    os.mkdir(dir_name)
    zip_handler = zipfile.ZipFile(zip_filename, "a")
    zip_handler.extractall(dir_name)
    
test = os.listdir(dir_name)

for item in test:
    if item.endswith(".zip"):
        os.remove(os.path.join(dir_name, item))

text_path=[]    
for path, subdirs, files in os.walk(dir_name):
    
    for name in files:
        #text_path=[]
        text_path.append(os.path.join(path, name))    
        #print(name)
t_path = [w.replace( '\\' , '\\\\' ) for w in text_path]#backlash changed for putting in directory


  
term = "__MACOSX" # AS MAC OS GIVES ADDITIONAL FILES WHILE ZIPPING WHICH ARE NOT ENCODED PROPERLY.WE WILL REMOVE IT
index=[]
for i,x in enumerate(t_path):
    words = x.split('\\\\') #split the sentence into individual words

    if term in words: #see if one of the words in the sentence is the word we want
        t_path.pop(i)
#have to do it twice because of the format of macosx  
term = "__MACOSX" # AS MAC OS GIVES ADDITIONAL FILES WHILE ZIPPING WHICH ARE NOT ENCODED PROPERLY.WE WILL REMOVE IT
index=[]
for i,x in enumerate(t_path):
    words = x.split('\\\\') #split the sentence into individual words based on \\

    if term in words: #see if one of the words in the sentence is the word we want
        t_path.pop(i)
        
with open("result.txt", 'w') as outfile:
    for fname in t_path:
        with open(fname) as infile:
            outfile.write(infile.read())   

           
with open("result.txt") as f:
    content = f.readlines()
# you may also want to remove whitespace characters like `\n` at the end of each line
content = [x.strip() for x in content]
file= open("FemaleOutput.txt", 'a')
file1= open("MaleOutput.txt", 'a')
for i in content:
    if i.find('She')is not -1: 
         file.write(f"{i}\n")

    elif i.find('He')is not -1:
         file1.write((f"{i}\n"))

(3) Sentiment analysis after cleaning the files(using textblob)

In [39]:
#   Sentiment analysis
#for male heroes
from textblob import TextBlob   
import pandas as pd    
fh = open('MaleOutput.txt')
df_male=pd.DataFrame()
df_male = pd.read_csv('MaleOutput.txt', sep="\n", header=None)
df_male.columns=["Text"]
    
    
df_male["textblob"]=df_male["Text"].apply(lambda x:TextBlob(x)) 
df_male["polarity"]=df_male["textblob"].apply(lambda x :x.sentiment[0])
df_male["subjectivity"]=df_male["textblob"].apply(lambda x :x.sentiment[1])

#for female heroes
fh = open('FemaleOutput.txt')
df_female=pd.DataFrame()

fh.close()
df_female = pd.read_csv('FemaleOutput.txt', sep="\n", header=None)
df_female.columns=["Text"]
    
    
df_female["textblob"]=df_female["Text"].apply(lambda x:TextBlob(x)) 
df_female["polarity"]=df_female["textblob"].apply(lambda x :x.sentiment[0])
df_female["subjectivity"]=df_female["textblob"].apply(lambda x :x.sentiment[1])

df_male=df_male.sort_values(by='polarity', ascending=False)
df_female=df_female.sort_values(by='polarity', ascending=False)

Top10_positive_male=df_male.head(10)

df_male=df_male.sort_values(by='polarity')
Top10_negative_male=df_male.head(10)

Top10_positive_female=df_female.head(10)

df_female=df_female.sort_values(by='polarity')
Top10_negative_female=df_female.head(10)

In [40]:
Top10_positive_male=Top10_positive_male.drop(columns=["textblob"])
Top10_positive_male.drop_duplicates(subset ="Text", 
                     keep = False, inplace = True) 
Top10_negative_male=Top10_negative_male.drop(columns=["textblob"])
Top10_positive_male.drop_duplicates(subset ="Text", 
                     keep = False, inplace = True) 
Top10_positive_female=Top10_positive_female.drop(columns=["textblob"])
Top10_positive_female.drop_duplicates(subset ="Text", 
                     keep = False, inplace = True) 
Top10_negative_female=Top10_negative_female.drop(columns=["textblob"])
Top10_positive_female.drop_duplicates(subset ="Text", 
                     keep = False, inplace = True)

In [41]:
print("Top 10 positive male characters are:")
Top10_positive_male

Top 10 positive male characters are:

,Text,polarity,subjectivity
400,2:He's a jaded gay cat burglar from the Missis...,0.416667,0.583333
1388,He's a leather-clad gay vampire hunter on the ...,0.416667,0.583333

In [42]:
print("Top 10 negative male characters are:")
Top10_negative_male

Top 10 negative male characters are:

,Text,polarity,subjectivity
2157,He's an old-fashioned playboy grifter plagued ...,-0.875,1.0
2003,He's an obese albino farmboy plagued by the me...,-0.875,1.0
972,He's a leather-clad one-eyed filmmaker plagued...,-0.875,1.0
2233,He's a one-legged devious paranormal investiga...,-0.875,1.0
2240,He's a benighted drug-addicted messiah plagued...,-0.875,1.0
852,He's a hate-fuelled playboy firefighter plague...,-0.875,1.0
421,23:He's an unconventional sweet-toothed parano...,-0.875,1.0
378,He's a leather-clad one-eyed filmmaker plagued...,-0.875,1.0
801,He's a Nobel prize-winning umbrella-wielding s...,-0.875,1.0
815,He's an obese albino farmboy plagued by the me...,-0.875,1.0

In [43]:
print("Top 10 positive female characters are:")
Top10_positive_female

Top 10 positive female characters are:

,Text,polarity,subjectivity
1317,She's a brilliant tomboy stripper trying to ma...,0.9,1.0
1349,She's a brilliant mute pearl diver on her way ...,0.9,1.0
2264,She's a brilliant insomniac Hell's Angel from ...,0.9,1.0
976,She's a cold-hearted snooty bodyguard with an ...,0.9,0.9

In [44]:
print("Top 10 negative  female characters are:")
Top10_negative_female

Top 10 negative  female characters are:

,Text,polarity,subjectivity
1445,She's a strong-willed kleptomaniac politician ...,-1.0,1.0
340,She's a mistrustful tempestuous magician's ass...,-1.0,1.0
2202,1:She's a provocative belly-dancing socialite ...,-1.0,1.0
1542,She's a mistrustful tempestuous magician's ass...,-1.0,1.0
1601,1:She's a provocative belly-dancing socialite ...,-1.0,1.0
425,27:She's a scantily clad cigar-chomping stripp...,-1.0,1.0
1265,She's a warm-hearted mutant doctor with an evi...,-1.0,1.0
332,She's a virginal streetsmart femme fatale with...,-1.0,1.0
865,She's an orphaned mute stripper with an evil t...,-1.0,1.0
263,She's a man-hating green-skinned soap star wit...,-1.0,1.0

(4)find the top 10 descriptors with their frequency

In [45]:
from collections import Counter 

with open('result.txt', 'r') as file:
    datastring = file.read().replace('\n', '')
# split() returns list of all the words in the string 
    
blob=TextBlob(datastring)
qaz=blob.noun_phrases

decriptors_series=[]
for i in range(0,len(qaz)):    
    decriptors_series.append(qaz[i])
    

Counter = Counter(decriptors_series)
# most_common() produces k frequently encountered 
 
most_occur = Counter.most_common(10) 
# input values and their respective counts.  
print(most_occur)

[('wrong side', 135), ('satanic', 77), ('mysterious suitcase', 62), ('mississippi', 56), ('uncanny powers', 53), ('different time', 52), ('mba', 52), ('republican', 51), ('african-american', 50), ("wife 's", 49)]